body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0E0F13;
  color: #E7E9ED;
}

/* CONTENEDOR */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 220px;
  display: flex;
  justify-content: center;
}

/* GRID */
.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; /* más aire horizontal */
  width: 100%;
}

/* FULL */
.full {
  grid-column: span 2;
}

/* HEADER VISUAL */
.header-card {
  background: #15181c;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

/* FOTO */
.profile-top img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* TITULOS */
h1 {
  color: #E54982;
  margin-bottom: 5px;
}

h2 {
  color: #d72969;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 2px;
}

h3 {
  color: #E54982;
  margin-bottom: 6px;
  border-left: 3px solid #E54982; /* línea elegante */
  padding-left: 8px;
}

/* TEXTO */
p {
  margin: 3px 0;
  line-height: 1.4;
}

/* SECCIONES */
.section {
  margin-bottom: 0; /* elimina espacios raros */
}

/* EVITA HUECOS GRANDES */
.section:nth-child(odd) {
  margin-top: 5px;
}

/* LINKS */
a {
  color: #E7E9ED;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #E54982;
}

a:visited {
  color: #E7E9ED;
}

/* CONTACT */
.contact a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.contact img {
  width: 20px;
  height: 20px;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill {
  background: #83899020;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 13px;
}

/* BOTONES */
.projects-btn {
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
  padding: 8px 18px;
  border: 1px solid #E54982;
  color: #E54982;
  border-radius: 6px;
  transition: 0.3s;
}

.projects-btn:hover {
  background: #E54982;
  color: white;
}

/* ANIMACION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}