body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0E0F13;
  color: #E7E9ED;
}

/* NAV */
nav {
  background: #0E0F13;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #838990;
}

nav a {
  color: #E7E9ED;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 600;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  animation: fadeIn 1s ease-in;
}

.hero-text {
  max-width: 500px;
}

.hero h1 {
  color: #E54982;
}

.hero img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; /* círculo real */
  border: 3px solid #E54982;
}

/* SECCIONES */
.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 30px;
}

.card {
  background: #16181d;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #838990;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card h3 {
  color: #E54982;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(229,73,130,0.3);
}

/* ICONOS */
.icons {
  margin-top: 15px;
}

.icons a {
  margin-right: 10px;
  font-size: 24px;
  color: #E7E9ED;
}

/* PROYECTOS */
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* ANIMACIÓN */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}